extends baseTemplate 
block main
    main
        section
            div.row
                div.main--container
                    div.product--cards.py-10.pb-5.grid.grid-cols-4.items-center.gap-4.gap-y-5
                        each product in products
                            div(class="card  shadow-xl")
                                img(class="w-full h-[160px]")(src=`/uploads/${product.imagePath}` alt="product image")
                                div.bg-white.p-5
                                    h3.text-lg.text-teal-700.font-bold=`GHS ${product.price}`
                                    h3(class="font-semibold text-md text-slate-600/90 capitalize tracking-wider")=product.productName    
                                    p.mt-3.pb-5=product.description
                            