extends dashboardTemplate 
block main
    section.dashboard--section
        include partials/sidebar
        div.content
            div.dashboard--content 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi, incidunt deleniti nisi cum laudantium in, harum quae suscipit eum quisquam optio, obcaecati perferendis fugiat quas deserunt eos aliquam ullam.